* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ==== to hide scrollbar ==== */
::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* style variables */
:root {
    --font1: "Outfit", sans-serif;
    --font2: "Libre Baskerville", serif;
    --font3: "Bebas Neue", sans-serif;
    --primarycolor: #f1f1f1;
    /* --secondrycolor:#f0a500; */
    --secondrycolor: #f8b81f;
    --headingcolor: #1ab79d;
    --textcolor: #1f1f1f;
}

/*  career header style  */
.head-er {
    height: 50vw;
    width: 100%;
    background: url("img6.png");
    background-position: center;
    padding-top: 75px;
    display: flex;
}

.header-content {
    width: 50%;
    height: 100px;
}

.header-content h1 {
    text-transform: capitalize;
    padding-top: 110px;
    padding-left: 100px;
    font-size: 50px;
    font-family: var(--font1);
    font-weight: 700;
}

.yellowish {
    color: #f8941f;
}

.header-content p {
    text-transform: capitalize;
    font-size: 22px;
    padding: 20px 60px 0px 100px;
    font-weight: 300;
}

.header-image {
    width: 50%;
    height: fit-content;
    padding: 100px;
    padding-left: 200px;
}

.header-image img {
    height: 300px;
    width: auto;
    mix-blend-mode: darken;
}

/* career section main content  */
#career-guide {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
}

#career-headingg {
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
    color: #f8941f;
    margin: 0px 50px;
    padding: 5px;
}

.main-container {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin: auto;
}

.main-container ol li {
    font-size: 27px;
    font-family: var(--font1);
    font-weight: 600;
    margin-top: 30px;
    text-transform: capitalize;
    color: #d90101;
}

.image {
    display: flex;
    justify-content: center;
    /* padding: 20px; */
    margin-top: 20px;
}

.image p {
    font-size: 22px;
    /* margin: 15px; */
    margin: 20px 0px;
    text-transform: capitalize;
    width: 70%;
    color: #1c3b19;

}

.image img {
    margin-left: 15px;
    height: auto;
    width: 30%;
}

/* mca section  */
.mca {
    margin: 50px 0px;
    margin-top: 150px;
}

.mca h1 {
    text-align: center;
    font-size: 35px;
    color: #f8941f;
}

.mca p {
    font-size: 23px;
    margin-top: 60px;
    text-transform: capitalize;
}

.mca h3 {
    font-size: 28px;
    margin-top: 30px;
    text-transform: capitalize;
    color: #0a3fca;
}

.mca ul li {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    text-transform: capitalize;
}

.mca ol li {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    text-transform: capitalize;
}

/*======== css for small screens =========*/
@media only screen and (max-width:600px) {
    .head-er {
        height: 80vh;
        background: url("img66.png");
        background-position: center;
        background-size: cover;
        padding-top: 75px;
        display: flex;
        flex-direction: column;
    }

    .header-content {
        width: 100%;
        height: auto;
    }

    .header-content h1 {
        padding-top: 50px;
        padding-left: 50px;
        font-size: 22px;
    }

    .header-content p {
        font-size: 15px;
        padding: 20px 40px 0px 50px;
        font-weight: 300;
    }

    .header-image {
        width: 100%;
        height: auto;
        padding: 20px;
        padding-left: 0px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .header-image img {
        height: 200px;
        width: auto;
    }

    /* career section main content  */
    #career-guide {
        height: auto;
        padding: 0px 20px;

    }

    #career-headingg {
        text-align: center;
        font-size: 15px;
        margin: 0px 20px;

    }

    .main-container {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .main-container ol li {
        font-size: 18px;
        margin-top: 40px;
        margin-left: 15px;
    }

    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }

    .image p {
        font-size: 15px;
        margin: 0px 0px;
        width: 100%;
    }

    .image img {
        margin-left: 0px;
        height: auto;
        width: 100%;
    }
    /* mca section  */
.mca {
    padding-top: 120px;
}

.mca h1 {
    text-align: center;
    font-size: 19px;
    color: #f8941f;
}

.mca p {
    font-size: 15px;
    text-transform: capitalize;
    margin: 35px 20px;
}

.mca h3 {
    font-size: 18px;
    margin: 20px;
    margin-top: 30px;
}

.mca ul li {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 35px;
}

.mca ol li {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 35px;
}
}