* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ==== to hide scrollbar ==== */
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
/* style variables */
:root {
  --font1: "Outfit", sans-serif;
  --font2: "Libre Baskerville", serif;
  --font3: "Bebas Neue", sans-serif;
  --primarycolor: #f1f1f1;
  /* --secondrycolor:#f0a500; */
  --secondrycolor: #f8b81f;
  --headingcolor: #1ab79d;
  --textcolor: #1f1f1f;
}
/* ===== body ===== */
body {
  font-family: var(--font1);
  background-color: #ffffffc7;
  color: var(--textcolor);
}
/* ======== home ======= */
.home {
  width: 100%;
  height: 100vh;
  background-image: url(/images/img2.jpg);
  background-position: center;
  background-size: cover;
}
.home .home-wrapper {
  width: 95%;
  margin: auto;
  position: relative;
  top: 30px;
  text-align: center;
}
.home .home-wrapper h1 {
  color: var(--primarycolor);
  font-family: var(--font1);
  text-transform: uppercase;
  /* font-size: 140px; */
  text-shadow: 5px 5px 10px #010101d6;
  /* line-height: 150px; */
}
.home .home-wrapper .intro {
  font-size: 140px;
  /* line-height: 140px; */
}
.home .home-wrapper .bca {
  font-size: 200px;
  color: var(--secondrycolor);
  font-family: var(--font1);
}
/* ========== navbar ======== */
.navbar {
  width: 100%;
  /* height: 60px; */
  display: flex;
  align-items: center;
  background-color: #f1f1f10c;
}
.navbar .logo {
  width: 40%;
  height: 100%;
  display: flex;
  padding-left: 20px;
}
.navbar .logo h1 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondrycolor);
  font-family: var(--font2);
}
.navbar .nav-elements {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .nav-elements a {
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: #f1f1f1;
  font-family: var(--font1);
  position: relative;
  padding: 2px 7px;
}
/* ==== nav elements border design ===== */
.navbar .nav-elements a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: var(--secondrycolor);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.navbar .nav-elements a:hover::after {
  width: 100%;
}
.navbar .nav-elements a:active:after {
  width: 100%;
}
/* ====== contact-us button */
.contact-us {
  height: 40px;
  width: 120px;
  font-size: 17px;
  margin-block: 10px;
  text-transform: capitalize;
  font-family: var(--font1);
  font-weight: 600;
  /* color: var(--primarycolor); */
  background-color: var(--secondrycolor);
  outline: none;
  border: none;
  border-radius: 10px;
}

/* ========= categories ========== */
.categories {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  top: 100px;
}
.categories .category-heading {
  color: var(--secondrycolor);
  font-size: 30px;
  letter-spacing: 1px;
  margin-block: 5px;
  text-shadow: 1px 1px 3px #010101d6;
}
.categories h1 {
  font-size: 35px;
  letter-spacing: 1px;
}
.categories h1 span {
  color: var(--headingcolor);
}
.categories-card {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-block: 25px;
}
.categories-card .card {
  width: 23%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-inline: 20px;
  border-radius: 5%;
}

.categories-card .card .card-icon {
  width: 100px;
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}
.categories-card .card .card-content h3 {
  font-size: 25px;
  margin-block: 5px;
}
.categories .card .card-content p {
  font-size: 17px;
}
.categories .card button {
  font-size: 15px;
  padding: 8px;
  text-transform: uppercase;
  font-family: var(--font1);
  border: none;
  outline: none;
  border-radius: 5px;
}
/* categories card1 */
.categories-card .card1 {
  background-color: #e7f8f5;
  border: 5px solid #d2f2ec;
}
.categories-card .card1 .cr-icon1,
.cr-btn1 {
  color: #1ab79d;
  background-color: #d2f2ec !important;
}
/* categories card2 */
.categories-card .card2 {
  background-color: #feecef;
  border: 5px solid #fddbe1;
}
.categories-card .card2 .cr-icon2,
.cr-btn2 {
  color: #ee4a62;
  background-color: #fddbe1 !important;
}
/* categories card3 */
.categories-card .card3 {
  background-color: #eceffd;
  border: 5px solid #dbe1fb;
}
.categories-card .card3 .cr-icon3,
.cr-btn3 {
  color: #4664e4;
  background-color: #dbe1fb !important;
}
/* categories card4 */
.categories-card .card4 {
  background-color: #fff8e8;
  border: 5px solid #fff2d3;
}
.categories-card .card4 .cr-icon4,
.cr-btn4 {
  color: #f8941f;
  background-color: #fff2d3 !important;
}
/* background */
.background {
  width: 100%;
  background-image: url(/images/img6.png);
  background-position: center center;
  background-size: cover;
  position: relative;
  top: 200px;
}
/* ======= about us ======= */
.about-us {
  width: 100%;
  height: 550px;
  padding-block: 20px;
  margin: 40px 0px;
}
.about-us .about-us-wrapper {
  width: 85%;
  height: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
}
/* about-us img */
.about-us-wrapper .aboutus-img {
  width: 50%;
  height: 100%;
  background-image: url(/images/img4.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.aboutus-img img {
  display: block;
  width: 80%;
  height: 70%;
  position: relative;
  top: 10px;
  border-radius: 18px;
}
.aboutus-img .acers {
  width: 35%;
  height: 15%;
  background-color: #ffffff;
  position: absolute;
  left: 5%;
  bottom: 8%;
  text-transform: uppercase;
  font-size: 250%;
  font-family: var(--font2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondrycolor);
  font-weight: 700;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 2px 4px black;
  animation: acers 2.5s infinite;
}
@keyframes acers {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/* about-us content */
.about-us-wrapper .aboutus-content {
  width: 50%;
  height: 100%;
  position: relative;
  padding: 30px 20px;
}
.aboutus-content h2 {
  text-transform: uppercase;
  font-size: 28px;
  color: var(--secondrycolor);
}
.aboutus-content h1 {
  font-size: 50px;
}
.aboutus-content h1 span {
  color: #ee4a62;
}
.aboutus-content p {
  margin: 20px 0px 0px 0px;
  width: 80%;
  font-size: 20px;
}
.aboutus-content ul {
  margin: 20px 30px;
  text-transform: capitalize;
}
.aboutus-content ul li {
  list-style: none;
  font-size: 20px;
  margin-top: 10px;
}
.aboutus-content ul li i {
  color: var(--secondrycolor);
  position: relative;
  top: 2px;
  right: 10px;
}
.aboutus-content svg {
  position: absolute;
  top: 5%;
  right: 15%;
  z-index: -1;
}
/* ======= team ========== */
.team {
  width: 100%;
  text-transform: capitalize;
  position: relative;
  top: 100px;
  margin-bottom: 700px;
}
.team .team-heading {
  color: var(--secondrycolor);
  font-size: 40px;
  letter-spacing: 1px;
  margin-block: 15px;
  text-align: center;
}
.team-cards {
  width: 80%;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.team-cards .team-card {
  width: 23%;
  height: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #010101d6;
}
.team-card .team-img {
  width: 110px;
  height: 110px;
  margin: auto;
  border-radius: 60px;
}
.team-card .team-content {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.team-card .team-content h1 {
  font-size: 35px;
}
.team-card .team-content h3 {
  font-size: 20px;
}
.team-card .team-content ul li {
  display: inline-block;
  font-size: 22px;
  margin-inline-end: 10px;
}
.team-card .team-content .team-buttons {
  /* width: max-content;
  margin: auto; */
  display: flex;
  justify-content: space-around;
}
.team-card .team-content button {
  width: 125px;
  height: 30px;
  font-size: 15px;
  text-transform: capitalize;
  font-family: var(--font1);
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
}
/*  team-card1 */
.team-cards .card1 {
  background: linear-gradient(180deg, #1ab79d 30%, #ffffff 30%);
}
.card1 h1{
  color: #1ab79d;
}
.card1 .team-img{
  background-color: #d2f2ec;
}
.card1 button{
  background-color: #e7f8f5;
  border: 2px solid #d2f2ec;
}
/*  team-card2 */
.team-cards .card2 {
  background: linear-gradient(180deg, #ee4a62 30%, #ffffff 30%);
}
.card2 h1{
  color: #ee4a62;
}
.card2 .team-img{
  background-color:#fddbe1;
}
.card2 button{
  background-color: #feecef;
  border: 2px solid #fddbe1;
}
/*  team-card3 */
.team-cards .card3 {
  background: linear-gradient(180deg, #4664e4 30%, #ffffff 30%);
}
.card3 h1{
  color: #4664e4;
}
.card3 .team-img{
  background-color: #dbe1fb;
}
.card3 button{
  background-color: #eceffd;
  border: 2px solid #dbe1fb;
}
/*  team-card4 */
.team-cards .card4 {
  background: linear-gradient(180deg, #f8941f 30%, #ffffff 30%);
}
.card4 h1{
  color: #f8941f;
}
.card4 .team-img{
  background-color: #fff2d3;
}
.card4 button{
  background-color: #fff8e8;
  border: 2px solid #fff2d3;
}
